
*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: 'BPG-Arial';
  src: url('./fonts/arial/bpg_arial_2009.ttf');
}
@font-face {
  font-family: 'BPG-mgrmlovani';
  src: url('./fonts/arial/bpg_mrgvlovani_caps_2010.ttf');
}
:root {
  --main-color: #e66725; /* მუქი სტაფილოსფერი */
  --secondary-color: #FF8A42; /* ღია სტაფილოსფერი */
  --text-color: #FFFFFF; /* თეთრი */
  --second-family: 'BPG-mgrmlovani', sans-serif;
  --main-font:'BPG-Arial', sans-serif;
  
}
body {
  background: var(--secondary-color);
  color: var(--text-color);
  font-family: var(--second-family);
  font-size: 15px;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--main-color);
  padding: 0;
}


.navContainer{
  padding: 0;
}
nav a:hover {
  text-decoration: underline;
}

.navbar-expand-lg .navbar-nav .nav-link{
  color: #fff;
  text-decoration: none;
}
.container .nav-link:hover{
  color:#eab8b8;
}
/*main start*/
main{
  padding: 0;
}
.next{
  background-color: #23a728;
}